*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: monospace, Arial, sans-serif;
}

body{
    background: linear-gradient(120deg,#8dbdbe,#c7f0e6);
    padding:20px;
}

/* ---------- HEADINGS ---------- */
.section-title{
    text-align:center;
    background:#93edcf;
    margin:30px auto 15px;
    padding:12px;
    width:85%;
    border-radius:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    font-size:22px;
}

/* ---------- CONTAINER ---------- */
.box{
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

/* ---------- BUTTON STYLE ---------- */
.btn{
    background:white;
    padding:18px 25px;
    min-width:260px;
    text-align:center;
    border-radius:25px;
    border:2px solid #004b50;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    box-shadow:0 5px 12px rgba(0,0,0,0.25);
}

.btn a{
    text-decoration:none;
    color:#004b50;
    display:block;
}

.btn:hover{
    background:#004b50;
    transform:scale(1.05);
}

.btn:hover a{
    color:white;
}

/* ---------- CODE BOX ---------- */
.code-box{
    width:85%;
    margin:15px auto;
    background:black;
    color:#00ffcc;
    padding:15px;
    border-radius:15px;
    font-size:14px;
}