
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: monospace, Arial, sans-serif;
}

body{
    background: linear-gradient(120deg,#8dbdbe,#c7f0e6);
    padding:20px;
}

/* ---------- COMMON ---------- */
.section-title{
    text-align:center;
    margin:30px auto 15px;
    padding:12px;
    width:80%;
    background:#93edcf;
    border-radius:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    font-size:22px;
}

.card{
    background:#ffffffcc;
    margin:15px auto;
    padding:20px;
    width:85%;
    border-radius:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.25);
    transition:0.3s;
}

.card:hover{
    transform:scale(1.02);
    box-shadow:0 10px 25px rgba(0,0,0,0.35);
}

.card h2{
    margin-bottom:10px;
}

.card a{
    text-decoration:none;
    color:#004b50;
    font-weight:bold;
}

.card a:hover{
    color:#000;
    text-decoration:underline;
}

.list a{
    display:block;
    margin:8px 0;
}

code{
    display:block;
    background:#000;
    color:#00ffcc;
    padding:10px;
    border-radius:10px;
    margin:6px 0;
    font-size:14px;
}